<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../public/assets/css/main.css">
    <title>Деканат</title>
</head>
<body>
<header>
    <nav class="link">
        <div></div>
        <a href="#">Главная</a>
        <a href="#">Студенты</a>
        <a href="#">Группы</a>
        <a href="#">Дисциплины</a>
        <a href="#">Вход</a>
        <a href="#">Выход</a>
    </nav>
</header>
<main>
    <nav class="list-group">
        <p>Список групп</p>
        <div>
            <ul>
                <li>
                    <div><a href="#">228</a></div>
                </li>
                <li>
                    <div><a href="#">228</a></div>
                </li>
                <li>
                    <div><a href="#">228</a></div>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="info">
        <p>Основная информация</p>
        <div>
            <p>Студент</p>
            <p>Группа</p>
            <p>Курс</p>
        </div>
        <nav>
            <div>
                <ul>
                    <li>
                        <div><a href="#">Иванов Иван</a></div>
                    </li>
                    <li>
                        <div><a href="#">Иванов Иван</a></div>
                    </li>
                    <li>
                        <div><a href="#">Иванов Иван</a></div>
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                        <div><a href="#">228</a></div>
                    </li>
                    <li>
                        <div><a href="#">228</a></div>
                    </li>
                    <li>
                        <div><a href="#">228</a></div>
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                        <div><a href="#">1</a></div>
                    </li>
                    <li>
                        <div><a href="#">1</a></div>
                    </li>
                    <li>
                        <div><a href="#">1</a></div>
                    </li>
                </ul>
            </div>
        </nav>
    </nav>
    <nav class="list-discipline">
        <p>Список групп</p>
        <div>
            <ul>
                <li>
                    <div><a href="#">Геометрия</a></div>
                </li>
                <li>
                    <div><a href="#">Геометрия</a></div>
                </li>
                <li>
                    <div><a href="#">Геометрия</a></div>
                </li>
            </ul>
        </div>
    </nav>
</main>
<footer></footer>
</body>
</html>