body{
    margin: 0 auto;
    padding: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    height: 70px;
}
.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 50px;
    background-color: #898989;
    border-radius: 5px;
}
.link>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #EFEDED;
    border-radius: 5px;
    margin-left: 10px
}
.link>a{
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 70px;
    font-size: 20px;
}
.div-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 1000px;
    height: 810px;
    border-radius: 5px;
    background-color: #898989;
}
.div-form>p{
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 200px; 
    color: #FFFFFF;
}
.div-form>h3{
    margin-top: -50px;
    color: #FFFFFF;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form>label>input{
    width: 750px;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    padding-left: 50px
}
form>label>input::placeholder {
    color: black;
    font-size: 20px;
    opacity: 0.6;
    padding: 0 20px;
    
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}
form>button{
    width: 300px; 
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

footer{
    margin-top: 10px;
    height: 50px;
    background-color: #898989;
}