body {
    margin: 0 auto;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    height: 70px;
}

a {
    text-decoration: none;
}

.link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1860px;
    height: 50px;
    background-color: #898989;
    border-radius: 5px;
}

.link > a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
}

main {
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    margin-top: 10px;
    height: 932px;
}

.info-discipline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1736px;
    height: 911px;
    background-color: #898989;
    border-radius: 5px;
    margin-top: 10px;
}

.info-discipline > p {
    font-size: 20px;
    color: #FFFFFF;
}

.info-discipline > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #D9D9D9;
    width: 1335px;
    height: 70px;
    border-radius: 5px;
}

.info-discipline > div > p {
    font-size: 20px;
}

.info-discipline > div > p {
    margin-right: 20px;
}

.info-discipline > nav {
    display: flex;
}

.info-discipline > nav > div {
    background-color: #D9D9D9;
    width: 323px;
    height: 645px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 7px;
    margin-left: 7px;
}

.info-discipline > nav > div > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.info-discipline > nav > div > ul > li {
    margin-top: 20px;
    margin-bottom: 10px;
}

.info-discipline > nav > div > ul > li > div {
    display: flex;
    justify-content: center;
    width: 240px;
    border-bottom: 2px solid black;
    font-size: 18px;
}

.info-discipline > nav > div > ul > li > div > a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.info-student {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1736px;
    height: 911px;
    background-color: #898989;
    border-radius: 5px;
    margin-top: 10px;
}

.info-student > p {
    font-size: 20px;
    color: #FFFFFF;
}

.info-student > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #D9D9D9;
    width: 1670px;
    height: 70px;
    border-radius: 5px;
}

.info-student > div > p {
    font-size: 20px;
}

.info-student > div > p {
    margin-right: 20px;
}

.info-student > nav {
    display: flex;
}

.info-student > nav > div {
    background-color: #D9D9D9;
    width: 323px;
    height: 747px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 7px;
    margin-left: 7px;
}

.info-student > nav > div > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.info-student > nav > div > ul > li {
    margin-top: 20px;
    margin-bottom: 10px;
}

.info-student > nav > div > ul > li > div {
    display: flex;
    justify-content: center;
    width: 240px;
    border-bottom: 2px solid black;
    font-size: 18px;
}

.info-student > nav > div > ul > li > div > a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.list-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 911px;
    background-color: #898989;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
}

.list-group > p {
    font-size: 20px;
    color: #FFFFFF;
}

.list-group > div {
    background-color: #D9D9D9;
    width: 360px;
    height: 828px;
    border-radius: 5px;
}

.list-group > div > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.list-group > div > ul > li {
    margin-top: 20px;
    margin-bottom: 10px;
}

.list-group > div > ul > li > div {
    display: flex;
    justify-content: center;
    width: 240px;
    border-bottom: 2px solid black;
    font-size: 18px;
}

.list-group > div > ul > li > div > a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1040px;
    height: 911px;
    background-color: #898989;
    border-radius: 5px;
    margin-top: 10px;
}

.info > p {
    font-size: 20px;
    color: #FFFFFF;
}

.info > p > a {
    color: #FFFFFF;
}

.info > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #D9D9D9;
    width: 1000px;
    height: 70px;
    border-radius: 5px;
}

.info > div > p {
    font-size: 20px;
}

.info > div > p {
    margin-right: 20px;
}

.info > nav {
    display: flex;
}

.info > nav > div {
    background-color: #D9D9D9;
    width: 323px;
    height: 748px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 7px;
    margin-left: 7px;
}

.info > nav > div > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.info > nav > div > ul > li {
    margin-top: 20px;
    margin-bottom: 10px;
}

.info > nav > div > ul > li > div {
    display: flex;
    justify-content: center;
    width: 240px;
    border-bottom: 2px solid black;
    font-size: 18px;
}

.info > nav > div > ul > li > div > a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.list-discipline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 911px;
    background-color: #898989;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

.list-discipline > p {
    font-size: 20px;
    color: #FFFFFF;
}

.list-discipline > div {
    background-color: #D9D9D9;
    width: 360px;
    height: 828px;
    border-radius: 5px;
}

.list-discipline > div > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.list-discipline > div > ul > li {
    margin-top: 20px;
    margin-bottom: 10px;
}

.list-discipline > div > ul > li > div {
    display: flex;
    justify-content: center;
    width: 240px;
    border-bottom: 2px solid black;
    font-size: 18px;
}

.list-discipline > div > ul > li > div > a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    height: 70px;
    margin-top: 10px;
}